<div class="me-2 sticky-top">
  <div class="panel border bg-white margin-top">
    <div class="panel-heading">
      <h3 class="pt-3 font-weight-bold">Mes amis</h3>
    </div>
    <div class="panel-body p-3">
      <small *ngIf="friends.length == 0" class="text-center">Vos amis s'afficheront ici.</small>
      <div class="align-middle" *ngIf="friends.length > 0" >
        <table class="w-100" *ngFor="let friend of friends">
            <tr class="small-panel">
              <td class="col-sm-2 text-center"><img class="pp" src="{{friend.picture_url}}" alt="Photo utilisateur"></td>
              <td class="col-sm-4"><h5 class="align-middle">{{friend.username}}</h5></td>
              <td class="col-sm-6 text-center"><button type="submit" class="btn btn-primary btn-block w-100">Voir le profil</button></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
