<div class="outer">
    <div class="row">
      <div class="col-sm-2">
        <app-navigation-menu></app-navigation-menu>
      </div>

        <div class="col-sm-7">
        <!-- Friendlist -->
          <div class="panel border bg-white margin-top">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Demandes de contact</h3>
            </div>
            <div class="panel-body p-3">
              <table [formGroup]="friendsForm" class="w-100">
                <small *ngIf="friendRequests" class="text-center">Vous n'avez aucune demande en attente.</small>
                <div *ngFor="let friendRequest of friendRequests">
                  <tr class="small-panel">
                    <td class="col-sm-2"><img class="pp" src="../../assets/images/homme.jpg" alt="Photo utilisateur"></td>
                    <td class="col-sm-8"><h5>{{friendRequest.username}}</h5><small>{{friendRequest.biography}}</small></td>
                    <td class="col-sm-2 text-center">
                      <button type="submit" class="btn btn-primary btn-block mt-4 w-75" (click)="accept(friendRequest.id_user)">Accepter</button>
                      <button type="submit" class="btn btn-primary btn-block mt-1 mb-4 w-75" (click)="accept(friendRequest.id_user)">Refuser</button>
                    </td>
                  </tr>
                </div>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-3 margin-top">
          <app-friends-list></app-friends-list>
        </div>
    </div>
</div>
