<style>
</style>

<router-outlet></router-outlet>

<div>
  <h1>{{ message$.Message }}</h1>
</div>
<div>
  <h1>Que voulez vous partager ?</h1>
  <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <label>Lien : </label>
    <input type="text" ngModel name="url" placeholder="Ton lien ..."><br>
    <label>Commentaire : </label>
    <input type="text" ngModel name="text" placeholder="Ton commentaire ..."><br>
    <button>Partager</button>
  </form>
</div>
<div *ngFor="let video of videos$">
  <h1>{{ video.text }}</h1>
  <h1>{{ video.url }}</h1>
</div>
