<div class="mt-2 sticky-top">
  <div class="log margin-top mb-2 ms-2">
    <a routerLink="/home"><img class="logo-img" src="../../assets/images/YouShareLogoTextNoir.png" alt="Logo"></a>
  </div>
  <div class="row ms-2">
    <div class="small-panel border bg-white">
      <div class="row mt-4">
        <div class="col-sm-3">
          <img class="pp" src="{{ pictureUrl }}" alt="Photo de profil">
        </div>
        <div class="col-sm-6">
          <h4 *ngIf="user$">{{ user$.username }}</h4>
        </div>
      </div>
    </div>
    <a routerLink="/profile" class="btn btn-primary btn-block mb-2 mt-3">Modifier mon profil</a>
    <a routerLink="/addfriend" class="btn btn-primary btn-block mb-2">Ajouter des amis</a>
    <a routerLink="/friendrequests" class="btn btn-primary btn-block mb-2">Voir mes demandes d'amis</a>
    <button (click)="logout()" class="btn btn-danger btn-block mb-2">Se d&eacute;connecter</button>
  </div>
</div>
