<div>
  {{ message$.Message }}
</div>
<div>
  <img class="logo" src="../../assets/images/YouShareLogoTextNoir.png" alt="Logo">
</div>
<div class="videoFormDiv">
  <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" class="videoForm">
    <h4 class="titreform">Que voulez vous partager ?</h4>
    <div class="formcontainer">
    <label>Lien : </label>
    <input class="videoFormInput" type="text" ngModel name="url" placeholder="Ton lien ..."><br>
    <label>Commentaire : </label>
    <input class="videoFormInput" type="text" ngModel name="text" placeholder="Ton commentaire ..."><br>
    <button class="videoFormButton">Partager</button>
  </div>
  </form>
</div>
<div *ngFor="let video of videos$">
  <div class="videoDiv">
    <img class="pp" src="../../assets/images/homme.jpg" alt="Photo de profil">
    <h1>{{ video.text }}</h1>
    <div class="text-center">
      <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/wUQbchYY80U" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      -->
      <youtube-player [videoId]="video.url"> </youtube-player>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        10<button type="button" class="btn btn-danger">Like</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        12<button type="button" class="btn btn-danger">Comment</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        14<button type="button" class="btn btn-danger">Share</button>
      </div>
    </div>
  </div>
</div>

