<div class="outer">
    <div class="row">
        <div class="col-sm-3">
            <div class="log mt-3 margin-top">
                <img class="logo-img" src="../../assets/images/YouShareLogoTextNoir.png" alt="Logo">
            </div>
        </div>

        <div class="col-sm-7">
        <!-- Friendlist -->
          <div class="panel border bg-white margin-top">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Demandes de contact</h3>
            </div>
            <div class="panel-body p-3">
              <table [formGroup]="friendsForm" class="w-100">
                <tr class="small-panel">
                  <td class="col-sm-2"><img class="pp" src="../../assets/images/homme.jpg" alt="Photo utilisateur"></td>
                  <td class="col-sm-8"><h5>Rayan</h5><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu purus nulla. Aenean sed fringilla lorem, id pulvinar nunc. Nunc iaculis ante eu sem congue suscipit. Donec sit amet lectus eget vel.</small></td>
                  <td class="col-sm-2 text-center"><button type="submit" class="btn btn-primary btn-block mt-4 w-75">Accepter</button><button type="submit" class="btn btn-primary btn-block mt-1 mb-4 w-75">Refuser</button></td>
                </tr>
                <tr class="small-panel">
                  <td class="col-sm-2"><img class="pp" src="../../assets/images/homme.jpg" alt="Photo utilisateur"></td>
                  <td class="col-sm-8"><h5>Rayan</h5><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu purus nulla. Aenean sed fringilla lorem, id pulvinar nunc. Nunc iaculis ante eu sem congue suscipit. Donec sit amet lectus eget vel.</small></td>
                  <td class="col-sm-2 text-center"><button type="submit" class="btn btn-primary btn-block mt-4 w-75">Accepter</button><button type="submit" class="btn btn-primary btn-block mt-1 mb-4 w-75">Refuser</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-2 margin-top">
            <div class="pull-right me-2 row">
                <div class="small-panel border bg-white">
                    <div class="row mt-4">
                        <div class="col-sm-3">
                            <img class="pp" src="../../assets/images/homme.jpg" alt="Photo de profil">
                        </div>
                        <div class="col-sm-6">
                          <h4 *ngIf="user$">{{ user$.username }}</h4>
                        </div>
                    </div>
                </div>
                <a id="forget" routerLink="/profile" class="btn btn-primary btn-block mb-2 mt-3">Modifier mon profil</a>
                <a id="forget" routerLink="/profile" class="btn btn-primary btn-block mb-2">Ajouter des amis</a>
                <a id="forget" routerLink="/friendlist" class="btn btn-primary btn-block mb-2">Voir mes demandes d'amis</a>
                <button (click)="logout()" class="btn btn-danger btn-block mb-2">Se d&eacute;connecter</button>
            </div>

        </div>
    </div>
</div>
