<div class="outer">
  <div class="row">
    <div class="col-sm-2">
      <app-navigation-menu></app-navigation-menu>
    </div>

    <div class="col-sm-7">
      <div class="mt-2">
        <div class="panel border bg-white margin-top">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Recherche un ami à ajouter</h3>
          </div>
          <div class="panel-body p-3">
            add search bar
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-3 margin-top mt-2">
      <app-friends-list></app-friends-list>
    </div>
  </div>
</div>
