/** LOGO **/
.logo {
    width: 20%;
    display: flex;
    justify-content: left;
}

/** FORM **/
.videoFormDiv {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.videoForm {
    border: 5px solid #f1f1f1;
    border-radius: 30px;
}
.videoFormInput[type=text] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.videoFormButton {
    background-color: #FF0000;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    border-radius: 30px;
}
.videoFormButton {
    opacity: 0.8;
    }
.titreform {
    text-align:center;
    font-size: 1;
    color: red;
}
.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}

/** VIDEO **/
.pp {
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: left;
    clip-path:ellipse(33% 50%);

}

.videoDiv {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    border: 5px solid #f1f1f1;
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}